.StandardLayout {
  :global {
    .ee-layout-sider-children {
      overflow-x: hidden;
      .ee-tabs-content {
        padding: 0;
      }
    }
    .ee-collapse-item-content-expanded {
      overflow: visible;
    }
    .easy-email-editor-tabWrapper {
      padding: 5px;
    }
  }
}
